.footer{
    width: 100%;
    font-size: 12px;
    width: 1024px;
}

.fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.fList{
list-style:none;
padding: 0;
}

.fListItem{
    width: 100%;
    cursor:pointer;
    color: #003580;
    margin-bottom: 10px;
}